@using MuSu.Data 

@{
    ViewData["Title"] = "Artist";
}

<div class="text-center">
    <h1 class="display-3">Select An Artist</h1>

    <!-- Needs to be fixed -- Supposed to display the chosen genres 
    <form>
        <button>Genre --- X</button>
    </form>-->

    <form action="/Home/SelectArtists" method="post">
        @foreach (var artist in Model)
        {
            <label>
                <input type="checkbox" name="selectedArtists" value="@artist.ArtistID" />
                @artist.ArtistName
            </label><br />
        }

        <button type="submit">Continue</button>
    </form>
</div>
