@using MuSu.Data 

@{
    ViewData["Title"] = "Artist";
}

<div class="text-center">
    <h1 class="display-4">Select An Artist</h1>

    <form>
        <button>Genre - - X</button>
    </form>

    <form method="post" action="/Home/Artist">
        @foreach (var artist in Model) 
        {
            <div>
                <input type="checkbox" id="artist@artist.ArtistID" name="selectedArtist" value="@artist.ArtistID" />
                <label for="artist@artist.ArtistID">@artist.ArtistName</label>
            </div>
        }

        <button type="submit">Continue</button>
    </form>
    

    <form action="/Home/Mood" method="get">
        <button type="submit">Continue</button>
    </form>
</div>
