@using MuSu.Data

@{
    ViewData["Title"] = "Genre";
}

<div class="text-center">
    <h1 class="display-3">Select A Genre</h1>

    <form action="/Home/SelectGenres" method="post">
        @foreach (var genre in Model)
        {
            <label>
                <input type="checkbox" name="selectedGenres" value="@genre.GenreID" />
                @genre.GenreName
            </label><br />
        }

        <button type="submit">Continue</button>
    </form>
</div>
