@{
    ViewData["Title"] = "Genre";
}

<div class="text-center">
    <h1 class="display-4">Select A Genre</h1>

    <form>
        <button>Genre 1</button>
    </form>

    <form>
        <button>Genre 2</button>
    </form>

    <form>
        <button>Genre 3</button>
    </form>

    <form>
        <button>Genre 4</button>
    </form>

    <form action="/Home/Artist" method="get">
        <button type="submit">Continue</button>
    </form>
</div>
