@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MuSu</h1>
    <h2>Diversify Your Playlist</h2>

    <form action="/Home/Genre" method="get">
        <button type="submit">Get Suggestions</button>
    </form>
</div>
