@{
    ViewData["Title"] = "Mood";
}

<div class="text-center">
    <h1 class="display-4">Select A Mood</h1>

    <form>
        <button>Genre - - X</button>
    </form>
    
    <form>
        <button>Artist - - X</button>
    </form>


    <form>
        <button>Mood 1</button>
    </form>

    <form>
        <button>Mood 2</button>
    </form>

    <form>
        <button>Mood 3</button>
    </form>

    <form action="/Home/Recommendation" method="get">
        <button type="submit">Continue</button>
    </form>
</div>
