@using MuSu.Data 

@{
    ViewData["Title"] = "Mood";
}

<div class="text-center">
    <h1 class="display-4">Select A Mood</h1>

    <form>
        <button>Genre - - X</button>
    </form>
    
    <form>
        <button>Artist - - X</button>
    </form>

    @foreach (var mood in Model) 
    {
        <form method="get" action="/Home/Recommendation">
            <button type="submit" name="moodId" value="@mood.MoodID">@mood.MoodName</button>
        </form>
    }

    <form action="/Home/Recommendation" method="get">
        <button type="submit">Continue</button>
    </form>
</div>
