@using MuSu.Data 

@{
    ViewData["Title"] = "Mood";
}

<div class="text-center">
    <h1 class="display-3">Select A Mood</h1>

    <!-- Needs to be fixed -- Supposed to display the chosen genres 
    <form>
        <button>Genre - - X</button>
    </form>
    
    <form>
        <button>Artist - - X</button>
    </form>-->

    <form action="/Home/SelectMoods" method="post">
        @foreach (var mood in Model)
        {
            <label>
                <input type="checkbox" name="selectedMoods" value="@mood.MoodID" />
                @mood.MoodName
            </label><br />
        }

        <button type="submit">Continue</button>
    </form>
</div>
