@using MuSu.Data 

@{
    ViewData["Title"] = "Recommendation";
}

<div class="text-center">
    <h1 class="display-4">Your Recommendation</h1>

    <form>
        <button>Genre - - X</button>
    </form>
    
    <form>
        <button>Artist - - X</button>
    </form>

    <form>
        <button>Mood - - X</button>
    </form>

    <h2>Song Title - Artist</h2>
    <p>Open In:</p>
    
    <form>
        <button>YouTube</button>
    </form>

    <form>
        <button>Spotify</button>
    </form>

    <form>
        <button>Apple Music</button>
    </form>
</div>
