@using MuSu.Data 
@using System.Linq  

@model List<Song>  

@{
    ViewData["Title"] = "Recommendation";
}

<div class="text-center">
    <h1 class="display-3">Your Recommendation</h1>

    <!-- Needs to be fixed -- Supposed to display the chosen genres 
    <form>
        <button>Genre - - X</button>
    </form>
    
    <form>
        <button>Artist - - X</button>
    </form>

    <form>
        <button>Mood - - X</button>
    </form>--->

    @if (Model != null && Model.Any())
    {
        <p style="font-size: 1.5rem; padding-bottom: 50px;"><strong>@Model.FirstOrDefault()?.SongTitle</strong> - @Model.FirstOrDefault()?.Artist?.ArtistName</p>
        <p>Open In:</p>

        <div class="d-flex justify-content-center gap-3">
            <form>
                <button style="background-color: #ff0000;">YouTube</button>
            </form>

            <form>
                <button style="background-color: #1db954;">Spotify</button>
            </form>

            <form>
                <button style="background-color: #d50032;">Apple Music</button>
            </form>
        </div>
    }
    else
    {
        <p>No recommendations available for the selected moods.</p>
    }

    <form action="/Home/Genre" method="get" style="padding-top: 60px;">
        <button type="submit" class="large-button">Get More Suggestions</button>
    </form>
</div>
