html, body {
  text-align: center;
  margin: 0;
  padding: 0px;
  padding-top: 40px;
  min-height: 100%;
}

body {
  min-height: 100%;
  background: linear-gradient(135deg, #d39a9a, #250505);
  color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgb(255, 220, 220) !important;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h1.display-4 {
  padding-top: 100px;
  font-size: 6rem;
}

h1.display-3 {
  font-size: 4rem !important; 
  padding-top: 60px !important; 
  padding-bottom: 40px !important;
}

h2 {
  padding-bottom: 50px;
}

button {
  background: #8DA1B9;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 1.25rem;
  border-radius: 28px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover {
  background: #7897bc;
  transform: scale(1.05);
}

.large-button {
  padding: 15px 30px;
  font-size: 1.5rem;
  border-radius: 30px;
  cursor: pointer;
}

form {
  margin: 10px 0;
}

label {
  display: block;
  font-size: 1.2rem;
  margin: 10px 0;
  cursor: pointer;
}

input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 10px;
  accent-color: #8DA1B9;
}

.container {
  max-width: 100%;
  padding: 0px;
}
